<div style="display: block; text-align: center; margin-left: auto; margin-right: auto; width: 50%; margin-bottom: 10px;">
    <img width="100" height="100" src="<%= header.logomarca_url %> ">
    <br>
    <br>
    <div style="font-weight: bold; font-size: 20px; line-height: 0;"><%= header.nome %></div>
    <br>
    <%= header.endereco %>
    <br>
    <%= header.municipio %>
</div>