<div>
    <div style="align-items: center; justify-content: center; display: flex; gap: 10px;">
        <img src="<%= header.logomarca_url %>" width="100" height="100">
        <div style="text-align: center; line-height: 1.6;">
            <b><%= header.nome_rede %> </b>
            <br>
            <%= header.nome_prefeitura %>
            <br>
            CNPJ: <%= header.endereco %> 
        </div>
    </div>
</div>