<div class="flex small-gap"  style=" padding-top: 60px; break-inside: avoid;">
    <div class="flex flex-column">
        <div class="text-line"></div>
        <div class="small text-center">Assinatura do Diretor(a)</div>
    </div>
    <div class="flex flex-column">
        <div class="text-line"></div>
        <div class="small text-center">Assinatura da Coordenação Pedagógica</div>
    </div>
</div>