<div style="break-inside: avoid;">
    <div style="padding-top: 10px;">
        <div class="flex padding-top dont-break" style="gap: 10px;">
            <div class="flex flex-column">
                <div class="text-line"></div>
                <div style="font-size: 16px;" class="small-text">Assinatura da Coordenação Pedagógica</div>
            </div>
            <div class="flex flex-column">
                <div class="text-line"></div>
                <div style="font-size: 16px;" class="small-text">Assinatura do Diretor(a)</div>
            </div>
        </div>
    </div>
</div>