<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <%- include("../css/ficha.ejs") %>
    <%- include("../css/common.ejs") %> 
</head>
<body>
    <div class="container">
        <%- include("../reusable/header.ejs") %>
        <div style="margin-top: 10px;">
            <% if (aluno.relatorio_experiencia) { %>
            <h3 class="text-center"><u>AVALIAÇÃO</u></h3>
            <%- include("../reusable/ficha-acompanhamento/lista-relatorio-objetivo.ejs") %>
            <% } %>
        </div>
    </div>
</body>
</html>