<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <%- include("../css/ficha.ejs") %>
    <%- include("../css/common.ejs") %> 
</head>
<body>
 <div id="container">
    <%-include("../reusable/verificar_formatacao_2.ejs")  %> 
    
 </div>

</body>
</html>